
/* spawner
background: url(http://127.0.0.1/callisto/css/../models/model.jpg) no-repeat 0 -154px;
position: absolute;
top: 0;
left: 0;
right: 0;
height: 300vh;
content: " ";
opacity: .5;
pointer-events: none;
background-position: -1542px -128px;
background-size: auto 46.5%;
*/
html, body { width: 100%; height: 100vh; }
body { overflow: hidden; transition: background-color .3s; }
body.display-model:after { /* background: url("../models/model.jpg") no-repeat 0 4px; */ position: absolute; top: 0; left: 0; right: 0; height: 300vh; content: " "; opacity: .5; pointer-events: none;  background-size: 100vw;}
body.display-model-full-opacity:after { opacity: 1; }
woop.название, woop.субтитр { visibility: hidden !important; }


@media (max-width: 1000px)
{
    html .страница .слева { float: none; }
    html .страница .справа { margin-left: 0; left: 0; padding-right: 15vw; }
}

@media (max-width: 600px)
{
  body > * { display: none !important; }
  html body iframe { display: block !important; }

}
html body iframe { position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; display: none; }

@media (min-width: 1750px)
{
  html #коробка .проект { transform: translateX(-50%) translateY(-50%) scale(1.3); }
  html #поезд:after { left: calc(50vw + (668px/2 + 16vw + 668px/2) * 5 + 50vw); }
  html #коробка .проект:nth-child(2) { left: calc(50vw + 668px/2 + 16vw + 668px/2); }
  html #коробка .проект:nth-child(3) { left: calc(50vw + (668px/2 + 16vw + 668px/2) * 2); }
  html #коробка .проект:nth-child(4) { left: calc(50vw + (668px/2 + 16vw + 668px/2) * 3); }
  html #коробка .проект:nth-child(5) { left: calc(50vw + (668px/2 + 16vw + 668px/2) * 4); }
  html #коробка .проект:nth-child(6) { left: calc(50vw + (668px/2 + 16vw + 668px/2) * 5); }

  html .myprofileproject { transform: scale(1.3); top: calc(100vh - 434px - 90px - 65px); height: 394px; }
  html .white { padding-top: calc(100vh - 165px); }
  html .myprofile .coded, html .myprofile .coded2, html .black p { font-size: 1.5rem; }
  html .myprofile .coded2 p { line-height: 2.2rem; }

  html .black span { font-size: 5.3rem; line-height: 6.6rem; }

  html .x_profile .profile { font-size: 1.2rem; }
  html .x_profile .x { font-size: 2.4rem; }
}


@media (min-width: 2100px)
{
  html .white { padding-top: calc(100vh - 350px); }
  html body .black span {
    line-height: 7.6rem;
  }

  html .myprofileproject { transform: scale(1.3); top: calc(100vh - 434px - 90px - 65px - 190px); height: 394px; }
}

@media (max-width: 1370px)
{
  html:not(.is_safari) #коробка .проект { transform: translateX(-50%) translateY(-50%) scale(.9); }
  html:not(.is_safari) #поезд:after { left: calc(50vw + (668px/2 + 3vw + 668px/2) * 5 + 50vw); }
  html:not(.is_safari) #коробка .проект:nth-child(2) { left: calc(50vw + 668px/2 + 3vw + 668px/2); }
  html:not(.is_safari) #коробка .проект:nth-child(3) { left: calc(50vw + (668px/2 + 3vw + 668px/2) * 2); }
  html:not(.is_safari) #коробка .проект:nth-child(4) { left: calc(50vw + (668px/2 + 3vw + 668px/2) * 3); }
  html:not(.is_safari) #коробка .проект:nth-child(5) { left: calc(50vw + (668px/2 + 3vw + 668px/2) * 4); }
  html:not(.is_safari) #коробка .проект:nth-child(6) { left: calc(50vw + (668px/2 + 3vw + 668px/2) * 5); }

  iframe html .myprofileproject { transform: scale(1.3); top: calc(100vh - 434px - 90px - 65px); height: 394px; }
  iframe html .white { padding-top: calc(100vh - 165px); }
  iframe html .myprofile .coded, iframe html .myprofile .coded2, iframe html .myprofile .black p { font-size: 1.5rem; }
  iframe html .myprofile .coded2 p { line-height: 2.2rem; }

  iframe html .black span { font-size: 5.3rem; line-height: 6.6rem; }

}

@media (max-height: 740px)
{
  iframe html .myprofileproject { top: calc(100vh - 434px - 90px - -50px); height: 394px; }
  iframe html .white { padding-top: calc(100vh - 82px); }
}


html { font-size: 16px; -webkit-font-smoothing: antialiased; }

.debug { position: fixed; background: rgba(0,0,255,0.2); left: 50%; width: 668px; transform: translateX(-50%) scale(0.8); top: 0; bottom: 0; z-index: 99; pointer-events: none; }

#поезд { height: 100%; overflow: auto; position: relative; overflow: hidden; }
#поезд:after { width: 1px; height: 100%; position: absolute; content: " "; display: block; left: calc(50vw + (668px/2 + 7vw + 668px/2) * 5 + 50vw); top: 0; }
html.big #поезд .проект { pointer-events: none; }
.проект { display: block; position: absolute; top: 50%; left: 50vw; transform: translateY(-50%) translateX(-50%); width: 668px; height: 371px; cursor: pointer; /* height: 411px; */ }
.проект.comingsoon { cursor: auto; }
.проект:nth-child(2) { left: calc(50vw + 668px/2 + 7vw + 668px/2); }
.проект:nth-child(3) { left: calc(50vw + (668px/2 + 7vw + 668px/2) * 2); }
.проект:nth-child(4) { left: calc(50vw + (668px/2 + 7vw + 668px/2) * 3); }
.проект:nth-child(5) { left: calc(50vw + (668px/2 + 7vw + 668px/2) * 4); }
.проект:nth-child(6) { left: calc(50vw + (668px/2 + 7vw + 668px/2) * 5); }
/*.проект:nth-child(5):after { width: 1px; height: 100%; position: absolute; content: " "; display: block; right: -50vw; top: 0; background: red; }*/
.проект.hover { }
.название { position: absolute; top: 50%; left: 0; right: 0; transform: translateY(-50%); font-family: GaramondPremPro, serif; font-size: 5.3rem; letter-spacing: 1.5px; text-align: center; color: #ffffff; }
.название span { transition: opacity 0.7s; /* , transform 0.3s; */ }
html.big .benjamin_bottom .проект.no_text_animation .название, html.big .benjamin_bottom .проект.no_text_animation .субтитр { transition: none; }
.субтитр { position: absolute; top: 58%; left: 0; right: 0; font-size: 1.2rem; height: 1.7rem; line-height: 1.7rem; color: #fff; text-align: center; overflow: hidden; /*, transform 0.3s; */ font-family: SimploDemi, sans-serif; letter-spacing: 3px; font-size: 1.05rem; }
.название, .субтитр { user-select: none; }
.субтитр .слева, .profile .слева { text-align: right; display: inline-block; transition: transform 0.4s, opacity 0.7s .1s;}
.субтитр .справа, .profile .справа { text-align: left; display: inline-block; transition: transform 0.6s, opacity 0.7s .1s; }
.проект:hover .субтитр .слева, .проект.fakehover .субтитр .слева { transform: translateY(-1.7rem); }
.проект:hover .субтитр .справа, .проект.fakehover .субтитр .справа { transform: translateY(-1.7rem); }
.черно-белный { position: absolute; top: 0px; left: 0; width: 100%; bottom: -150px; background-repeat: no-repeat; background-position: -368px -213px; }
.цветной { position: absolute; top: -22px; left: -52px; right: -52px; bottom: -22px; background-repeat: no-repeat; background-position: calc(-0.5 * (1920px - (668px + (100vw / 0.92) - 100vw))) -40px; left: calc(((100vw/0.92) - 100vw) / -2); right: calc(((100vw/0.92) - 100vw) / -2) } /* ad hoc basis */
.окно-centerer { transform: translateY(-2px); }
html .фотография { left: calc(((100vw/0.92) - 100vw) / -2); right: calc(((100vw/0.92) - 100vw) / -2); }
html.big .фотография, html.big .цветной { background-position: center -40px; } /* ad hoc basis */
/*
.окно-centerer { position: relative; left: calc(42px + 0.93 * ((100vw/0.92) - 100vw) / -2); }
*/
.рама { position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden; }
.фотография { position: absolute; top: -22px; left: -52px; right: -52px; bottom: -22px; background-repeat: no-repeat; transition: opacity 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000); background-position: -200px 0; background-position: calc(-0.5 * (1920px - (668px + (100vw / 0.92) - 100vw))) -40px; /* left: calc(((100vw/0.93) - 100vw) / -2); right: calc(((100vw/0.93) - 100vw) / -2) */}
.окно { position: absolute; width: 500px; height: 80px; transform: rotate(-34deg) scale(0.93); overflow: hidden; transition: 0.1s all linear; transition: .45s all cubic-bezier(0.215, 0.610, 0.355, 1.000); }
.окно .внутри { position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; transition: 0.1s all linear; transition: .45s all cubic-bezier(0.215, 0.610, 0.355, 1.000); }
TEMPORARILY_DISABLED .проект:not(.hover) .окно .внутри { left: 0 !important; }
.окно .образ { position: absolute; top: -200px; left: -200px; right: -200px; bottom: -200px; background-position: 1px 0; background-position: center top; transform: rotate(34deg); transition: 0.1s all linear; transition: .45s all cubic-bezier(0.215, 0.610, 0.355, 1.000);} /* 37 */
.окно-1 { transform-origin: 100% 50%; }
.окно-2 { /* transition: 0.5s all; */ transform-origin: 100% 50%; }
.окно-1 .образ { transform-origin: 100% 50%; bottom: -350px; left: auto; width: 748px; }


html .myprofileproject .фотография, html .myprofileproject .цветной { transform: scale(1); background-position: calc(-1 * (1920px + -570px - 50vw)) -80px; left: 0; right: 0; bottom: 0; top: 0;}
html .myprofileproject .фотография { opacity: 0; }
.myprofileproject .название, .myprofileproject .субтитр { white-space: nowrap; left: 25vw; width: 50vw; top: 217px; user-select: none; }
.myprofileproject .название { transform: translateY(-50%) !important; font-size: 4.8rem !important;  }
.myprofileproject .субтитр { transform: translateX(0px) !important; top: 251px; }
.myprofileproject { transform: none; top: calc(100vh - 434px - 90px - 34px - 50px); left: 0; width: 50vw; height: 434px; transform-origin: 50% 100%; cursor: auto !important; }
/*.myprofileproject:before { content: " "; display: block; position: absolute; left: 50vw; bottom: 0; width: 47vw; top: 0; z-index: 999;}*/
.myprofileproject .окно { transform: rotate(-0deg) scale(1); height: 78px; transform-origin: 0 0;}
html.readyforhover .myprofileproject .окно, html.readyforhover .myprofileproject .окно .образ { transition: .45s all cubic-bezier(0.215, 0.610, 0.355, 1.000) !important; }
html.readyforhover .myprofileproject:hover .окно, html.readyforhover .myprofileproject:hover .окно .образ { transition: .45s all cubic-bezier(0.000, 0.000, 0.580, 1.000) !important; }
.myprofileproject .окно .образ { transform: rotate(0deg); right: 0; top: 0; left: 0; right: 0; bottom: 0; }
.myprofileproject .окно, .myprofileproject .окно .внутри { clip: auto !important; }
.myprofileproject .окно-1 { width: 328px; top: 65px; left: calc(50vw - -3px); }
.myprofileproject .окно-1 .образ { background-position: calc(-1 * (1920px + -570px - 50vw) - (50vw - -3px)) calc(-80px - 65px); } /* -2350 + 50vw + ce qui dépasse) */
html:not(.showmyprofile) .myprofileproject .окно-1 .образ { background-position: calc(-1 * (1920px + -570px - 50vw) - (50vw - -3px )) calc(-80px - 65px + 40px); }
html.readyforhover .myprofileproject:hover .окно-1 { left: calc(50vw - 13px - 20px); }
html.readyforhover .myprofileproject:hover .окно-1 .образ { background-position: calc(-1 * (1920px + -570px - 50vw) - (50vw - 13px - 20px)) calc(-80px - 65px); } /* -2350 + 50vw + ce qui dépasse) */
.myprofileproject .окно-2 { width: 412px; top: 145px; left: calc(50vw - 193px); /* top: calc(9vh + (64px + -0.3vh)); */ }
.myprofileproject .окно-2 .образ { background-position: calc(-1 * (1920px + -570px - 50vw) - (50vw - 193px)) calc(-80px - 145px); } /* -856px 160px */
html:not(.showmyprofile) .myprofileproject .окно-2 .образ { background-position: calc(-1 * (1920px + -570px - 50vw) - (50vw - 193px)) calc(-80px - 145px + 40px); }
.myprofileproject .окно-3 { width: 370px; top: 225px; left: calc(50vw - 303px); right: auto; /* top: calc(9vh + (9vh + (64px + -0.3vh) + -0.3vh)); */ }
.myprofileproject .окно-3 .образ { background-position: -545px 339px; background-position: calc(-1 * (1920px + -570px - 50vw) - (50vw - 303px)) calc(-80px - 225px); }
html:not(.showmyprofile) .myprofileproject .окно-3 .образ { background-position: calc(-1 * (1920px + -570px - 50vw) - (50vw - 303px)) calc(-80px - 225px + 40px); }
html.readyforhover .myprofileproject:hover .окно-3 { left: calc(50vw - 288px + 20px); right: auto; }
html.readyforhover .myprofileproject:hover .окно-3 .образ { background-position: calc(-1 * (1920px + -570px - 50vw) - (50vw - 288px + 20px)) calc(-80px - 225px); }
.myprofile { font-family: Simplo, sans-serif; cursor: auto; }
.myprofile .coded { padding-left: 5vw; color: #babab9; line-height: 90px; vertical-align: middle; font-size: 1.08rem; }
.myprofile .coded a { color: black; text-decoration: none; }
.myprofile .coded2 { padding-right: 8vw; padding-bottom: 8vh; margin-top: 4vh; padding-left: 61vw; font-size: 1.08rem; }
.myprofile .coded2 strong { font-weight: normal; color: black; display: block; margin-bottom: 1rem; }
.myprofile .coded2 p { margin-bottom: 1rem; line-height: 1.65rem; }
.myprofile .coded2 em { text-decoration: underline; }
.myprofile .coded2 a { color: inherit; text-decoration: none; }
.myprofile .coded2 { color: #babab9; }
.myprofile .coded, .myprofile .coded2, .black p { font-size: 1.1rem; }
.black p { font-family: Simplo, sans-serif; line-height: 4rem; }
/* tout qui remonte */
.myprofile .coded, .myprofile .coded2 { transform: translateY(20px); opacity: 0; transition: transform .5s cubic-bezier(0.000, 0.000, 0.580, 1.000), opacity .6s cubic-bezier(0.000, 0.000, 0.580, 1.000); }
html.showmyprofile .myprofile .coded, html.showmyprofile .myprofile .coded2 { transform: translateY(0); opacity: 1; }
html .myprofile .цветной, html .myprofile .окно-centerer { opacity: 0; transition: opacity .5s cubic-bezier(0.000, 0.000, 0.580, 1.000); /* @@@x */ }
html body .myprofile .цветной { transition: background-position .5s cubic-bezier(0.000, 0.000, 0.580, 1.000), opacity .5s cubic-bezier(0.000, 0.000, 0.580, 1.000); /* @@@x */ }
html .myprofileproject .окно .образ { transition: background-position .5s cubic-bezier(0.000, 0.000, 0.580, 1.000); }
html:not(.showmyprofile) body .myprofile .цветной { background-position: calc(-1 * (1920px + -570px - 50vw)) -40px; }
html.showmyprofile .myprofile .цветной, html.showmyprofile .myprofile .окно-centerer { opacity: 1; }
.white { position: relative; z-index: 60; padding-top: calc(100vh - 125px - 50px); background: white; }
.black { background: #212121; color: white; height: 80vh; } /* 77, 23 */
html .black span { position: relative; display: block; }
.black span a { color: inherit; text-decoration: none; transition: color .85s cubic-bezier(0.230, 1.000, 0.320, 1.000); color: white; }
.black span a:hover { color: #363636; }
.black > div { position: fixed; bottom: 0; left: 0; right: 0; z-index: 59; top: 20vh; }
.black > div > div.centered { position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%); padding-left: 5vw; padding-right: 5vw; }
.black p { margin-bottom: 6vh; }
.black span { font-size: 4.3rem; text-decoration: none; color: inherit; display: block; line-height: 6rem; font-family: GaramondPremPro, serif;}
.showmyprofile #поезд { display: none; }
.showmyprofile body { overflow: auto; }
html.pfnoqq .scroll-content { pointer-events: none; }
html.pfnoqq .окно { border: 1px solid transparent; }
html.pfnoqq .название span, html.pfnoqq .субтитр * { opacity: 0.99; }
.myprofile { display: none; }
.white { background: white; }
.preshowmyprofile .myprofile { display: block; }
.showmyprofile #круг { display: none; }
.showmyprofile .profile { display: none; }

.kandinsky .окно-1 { width: 334px; height: 69px; top: -36px; left: 180px; }
.kandinsky .окно-1 .образ { background-position: -613px 315px; }
.kandinsky .окно-2 { width: 396px; height: 69px; top: 49px;  left: 109px; }
.kandinsky .окно-2 .образ { background-position: -621px 230px; }
.kandinsky .окно-3 { width: 353px; height: 69px; top: 371px; left: 145px; }
.kandinsky .окно-3 .образ { background-position: -546px 339px; }


.adidas .фотография, .adidas .цветной { background-position: calc(-0.5 * (1920px - (668px + (100vw / 0.92) - 100vw))) -70px; }
html.big .adidas .фотография, html.big .adidas .цветной { background-position: center -70px; }
.adidas .окно { transform: rotate(-62deg) scale(0.93); }
.adidas .окно .образ { transform: rotate(62deg); right: 0; top: -510px; width: 658px; bottom: -630px; }
.adidas .окно-1 { width: 389px; height: 69px; top: -98px; left: -18px; }
.adidas .окно-1 .образ { background-position: -395px 568px; }
.adidas .окно-2 { width: 393px; height: 69px; top: -7px; left: 4px; }
.adidas .окно-2 .образ { background-position: -423px 471px; }
.adidas .окно-3 { width: 389px; height: 69px; top: 419px; left: 246px; }
.adidas .окно-3 .образ { background-position: -824px 455px; }
/* .adidas .окно-3 .образ { right: 0; top: -410px; width: 658px; bottom: -1140px; } */

.tesla .фотография, .tesla .цветной { background-position: calc(-0.5 * (1920px - (668px + (100vw / 0.92) - 100vw))) -58px; }
html.big .tesla .фотография, html.big .tesla .цветной { background-position: center -58px; }
.tesla .окно { transform: rotate(-86deg) scale(0.93); }
.tesla .окно .образ { transform: rotate(86deg); right: 0; top: -320px; width: 718px; bottom: -910px; }
.tesla .окно-1 { width: 362px; height: 69px; top: -89px; left: -58px; }
.tesla .окно-1 .образ { background-position: -504px 624px; }
.tesla .окно-2 { width: 383px; width: 383px; height: 76px; top: -34px; left: -14px; }
.tesla .окно-2 .образ { background-position: -573px -41px; }
.tesla .окно-3 { width: 329px; height: 69px; top: 434px; left: 405px; }
.tesla .окно-3 .образ { right: 0; top: -1360px; width: 778px; bottom: 0; background-position: -344px -5px; }

.spawner .фотография, .spawner .цветной { background-position: calc(-0.5 * (1920px - (668px + (100vw / 0.92) - 100vw))) 0px; }
html.big .spawner .фотография, html.big .spawner .цветной { background-position: center 0px; }
.spawner .окно { transform: rotate(43deg) scale(0.93); }
.spawner .окно .образ { transform: rotate(-43deg); right: 0; top: -390px; width: 808px; bottom: -110px; }
.spawner .окно-1 { width: 349px; height: 69px; top: 288px; left: 90px; }
.spawner .окно-1 .образ { background-position: -360px 34px; }
.spawner .окно-2 { width: 383px; height: 69px; top: 264px; left: -66px; }
.spawner .окно-2 .образ { background-position: -229px 60px; }
.spawner .окно-3 { width: 329px; height: 69px; top: 18px; left: -43px; }
.spawner .окно-3 .образ { bottom: -550px; background-position: -354px -2px; }

.faculty .цветной, .faculty .фотография { background-position: calc(-0.5 * (1920px - (668px + (100vw / 0.92) - 100vw))) -117px; }
html.big .faculty .фотография, html.big .faculty .цветной { background-position: center -117px; }
.faculty .окно { transform: rotate(-64deg) scale(0.93); }
.faculty .окно .образ { transform: rotate(64deg); right: 0; top: -410px; width: 658px; bottom: -1140px; }
.faculty .окно-1 { width: 349px; height: 69px; top: -83px; left: 27px; }
.faculty .окно-1 .образ { background-position: -675px 579px; }
.faculty .окно-2 { width: 370px; height: 69px; top: 2px; left: 37px; }
.faculty .окно-2 .образ { background-position: -708px 487px; }
.faculty .окно-3 { width: 349px; height: 69px; top: 400px; left: 286px; }
.faculty .окно-3 .образ { right: 0; top: -800px; width: 658px; bottom: 0; background-position: -461px 477px; }

.comingsoon .окно { visibility: hidden !important; }
.jova .цветной, .jova .фотография { background-position: calc(-0.5 * (1920px - (668px + (100vw / 0.92) - 100vw))) 0; }
html.big .jova .фотография, html.big .jova .цветной { background-position: center 0; }

/* loader and other funny things */
.loading .проект { clip: rect(185px,336px,186px,332px); }
.проект:after, #линия:after { content: " "; background: white; display: block; position: absolute; top: -5px; left: -5px; right: -5px; bottom: -5px; pointer-events: none; opacity: 1; transition: opacity 1s; top: 0; left: 0; right: 0; bottom: 0; top: -1px; left: -1px; right: -1px; bottom: -1px; }
.проект:after { transition: opacity 1s; }
html.loading .проект:after { transition: none; }
#линия { width: 50%;}
html:not(.loading) .проект:after, html:not(.loading) #линия:after { opacity: 0; } /* @@@@@ */
html.loadingover.loading #линия:after { transition: none; }

#круг { transition: opacity 3s; } /* transition plus bas */
html.loading #круг { opacity: 0; } /* transition plus bas */

html:not(.loadingover) .проект { pointer-events: none; }

html.loadingover .loading-pc { visibility: hidden; }
.проект.loader:after { background: #e6e6e6; }
html.not(:loadingover) .проект:after { background: white; }
html.not(:loadingover) .проект.loader:after { background: #e6e6e6; }
/* html.loadingover .tesla:after { background: #2C2827; }
html.loadingover .kandinsky:after { background: #3a2116; }
html.loadingover .spawner:after { background: #271D27; }
html.loadingover .jova:after { background: #feebcb; }
html.loadingover .adidas:after { background: #212121; }
html.loadingover .faculty:after { background: #362F2D; } */
html.loadingover .jova:after { background: #928D76; }
html.loadingover .faculty:after { background: #68635B; }
html.loadingover .spawner:after { background: #271C34; }
html.loadingover .tesla:after { background: #24282C; }
html.loadingover .adidas:after { background: #1B181E; }
html.loadingover .kandinsky:after { background: #6E5B49; }


/* html.loadingover .loader:after { background: transparent; } */

.benjamin_bottom .проект:not(.текущий):after { opacity: 0 !important; }
.absolute_madman .проект:not(.текущий):after { opacity: 0 !important; }

.проект.loader { pointer-events: none; }
.проект { transition: clip 1s cubic-bezier(0.165, 0.840, 0.440, 1.000); transition: clip 1.7s cubic-bezier(0.895, 0.030, 0.685, 0.220); will-change: width, top, height; }
html.open_the_mask_alfred_OPEN_IT .проект { transition: clip .30s cubic-bezier(0.000, 0.000, 0.580, 1.000); }
/* html.open_the_mask_alfred_OPEN_IT.loadingover .проект { transition: clip .8s cubic-bezier(0.230, 1.000, 0.320, 1.000); } */
.loading .проект > * { visibility: hidden; }
.loading-nahel { position: fixed; bottom: 7vh; left: 70px; }
.loading-pc { position: fixed; top: 50%; transform: translateX(25px) translateY(-50%); left: 50%; transition: transform 0.3s; transition: transform 1.7s cubic-bezier(0.895, 0.030, 0.685, 0.220); }
.loading-pc:after { content: "%";}
.loading-nahel, .loading-pc { opacity: 1; color: #d3d3d3; font-family: Simplo, sans-serif; font-size: 1.1rem; }
.loading-nahel { color: #d3d3d3; }
html:not(.loading) .loading-nahel, html:not(.loading) .loading-pc { opacity: 0; }


TEMPORARILY_DISABLED .проект:not(.hover) .окно-2 { left: 114px !important; width: 438px !important; /* essayer de mettre les transitions seulement sur le no hover */ }
.проект .окно-2 .внутри { clip: rect(0px 438px 86px 0px); }
TEMPORARILY_DISABLED .проект:not(.hover) .окно-2 .внутри { clip: rect(0px 438px 86px 0px) !important; }
/* .окно-2:hover { left: 140px; top: 164px; width: 478px; height: 86px; } */
.окно-2 .образ { /* transition: 0.5s all; */  transform-origin: 100% 50%;  transform-origin: 100% 50%; bottom: -410px; left: auto; width: 748px; background-position: -663px 251px;}
TEMPORARILY_DISABLED .проект:not(.hover) .окно-2 .образ { /* background-position: -27px 96px !important;*/ }
/* .окно-2:hover .образ { background-position: -160px -164px; background-position: 40px -343px; background-position: 60px -177px; } */

.проект:not(.hover) .окно-1 .внутри, .проект:not(.hover) .окно-2 .внутри, .проект:not(.hover) .окно-3 { transition: .3s; } /* hover out mouseout mouseleave */
.окно-3 { left: 131px; top: 325px; width: 365px; height: 86px; transform-origin: 0 50%; left: 171px; top: 431px; }
TEMPORARILY_DISABLED .проект:not(.hover) .окно-3 { width: 365px !important; }
.окно-3 .образ { background-position: calc(-0.5 * (1920px - (668px + (100vw / 0.92) - 100vw))) 258px; transform-origin: 0 50%; top: -360px;  }

/*
jova.pc

.окно-1 { left: 279px; top: 73px; width: 390px; height: 86px; }
.окно-1 .образ { }
.окно-2 { left: 260px; top: 210px; width: 438px; height: 85px; }
.окно-3 { left: 240px; top: 400px; width: 347px; height: 82px; }
*/

/* sinon utiliser les masques css3 */

html:not(.big_half) .benjamin_bottom { pointer-events: none; }

#коробка { transition: transform .8s cubic-bezier(0.150, 0.655, 0.000, 1.000); position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
#коробка.shrunk { transform: scale(0.8); }
/* #коробка.shrunk .фотография { opacity: 1 !important; } */
html.big .absolute_madman .проект.finish_him .фотография, html.force_ph .фотография { opacity: 1 !important; }
.проект.текущий .фотография { opacity: 0; }
.проект.текущий .фотография { opacity: 0; }
#коробка.shrunk .окно-1 .внутри, #коробка:not(.shrunk) .проект:not(.текущий) .окно-1 .внутри, html.big .текущий .окно-1 .внутри, html.big .absolute_madman .проект.finish_him .окно-1 .внутри { left: 100% !important; transition: left .4s cubic-bezier(0.470, 0.000, 0.745, 0.715), opacity .7s 0.1s; opacity: 0; }
#коробка.shrunk .окно-1 .внутри { transition: left .2s cubic-bezier(0.470, 0.000, 0.745, 0.715) .1s, opacity .3s .1s !important; } /* zoom out only */
/*#коробка.shrunk .окно-2, #коробка:not(.shrunk) .проект:not(.текущий) .окно-2 { transition: 5s;  }*/
#коробка.shrunk .окно-2 .внутри, #коробка:not(.shrunk) .проект:not(.текущий) .окно-2 .внутри, html.big .текущий .окно-2 .внутри, html.big .absolute_madman .проект.finish_him .окно-2 .внутри { /* left: 50% !important; */ transition: clip .3s cubic-bezier(0.470, 0.000, 0.745, 0.715), opacity .7s 0.1s; clip: rect(0px 216px 86px 216px) !important; opacity: 0; }
#коробка.shrunk .окно-2 .внутри { transition: clip cubic-bezier(0.470, 0.000, 0.745, 0.715) .2s .1s, opacity .3s .1s !important; } /* zoom out only */
/* NEW */
#коробка.shrunk .окно-3, #коробка:not(.shrunk) .проект:not(.текущий) .окно-3, html.big #коробка .текущий .окно-3, html.big .absolute_madman .проект.finish_him .окно-3 { width: 0 !important; transition: width .5s cubic-bezier(0.470, 0.000, 0.745, 0.715), opacity .7s 0.1s; opacity: 0; }
#коробка.shrunk .окно-3 { transition: width .2s cubic-bezier(0.470, 0.000, 0.745, 0.715) .1s, opacity .25s .1s !important; } /* zoom out only */
#коробка:not(.shrunk) .проект:not(.текущий) .название span, #коробка:not(.shrunk) .проект:not(.текущий) .субтитр p { opacity: 0; }
/* #коробка.shrunk .проект .фотография { opacity: 0; } */
#коробка:not(.shrunk) .фотография { transition: opacity 0.5s .3s; }
#коробка .фотография { opacity: 0; }
#коробка.shrunk .проект .название span, .benjamin_bottom .проект .название span,
#коробка.shrunk .проект .субтитр p, .benjamin_bottom .проект .субтитр p { /* transition: opacity 7s; */ transition-delay: 0s; }

/* html.big .проект.текущий { top: 0; left: 0; right: 0; bottom: 0; } */
.проект .фотография, .проект .цветной { transform: scale(.93); } /* trio ne colle plus alors... possiblement besoin d'un export x0.93 pour le background du trio ==> mettre les vnoutri en 0.93% aussi */

#коробка.shrunk .проект { pointer-events: none; }
html.cursormove { cursor: move; }

html.big .проект:not(.текущий) { opacity: 0; /* transition: opacity 0.8s cubic-bezier(0.000, 0.000, 0.580, 1.000); transition-duration: 5s; */ }
html.big .проект:not(.текущий):after { opacity: 1; transition: .3s; /* will be default; ad-hoc. WHITE ON LOAD ONLY.. loading */ }
html.big .проект.текущий {}
/*html.big #коробка .проект.текущий .фотография.parallax, html.big .absolute_madman .проект .фотография.parallax { transform: scale(1) translateY(20px) !important; transition: transform .8s .3s, opacity .7s !important;}*/
html.big #коробка .проект .фотография, html.big .absolute_madman .проект.finish_him .фотография { opacity: 1; transition: transform .3s .2s cubic-bezier(0.550, 0.085, 0.680, 0.530), opacity .6s cubic-bezier(0.000, 0.000, 0.580, 1.000) !important; transform: scale(1); } /* recent added finish_him to it */
html.big .проект.текущий, html.big .absolute_madman .проект.finish_him { /* transform: none !important; */ /*width: 900px;*/ transition: width 1s, height 1s; /* owritten en bas */ transition-delay: .5s; }
html.big .absolute_madman .проект.finish_him { transition: width 1s, height .4s cubic-bezier(0.420, 0.000, 1.000, 1.000) 5s !important, transform-origin .5s; /* @wagab */ }

/* onclick project */
html.big .absolute_madman .проект.finish_him { /* woop*/ /* height: 393px; */ width: 707px; width: 100%; transition: height .4s .3s cubic-bezier(0.420, 0.000, 1.000, 1.000), width .4s .3s cubic-bezier(0.420, 0.000, 1.000, 1.000); }
html.big #коробка .проект { /* woop*/ /*height: 393px;*/ width: 707px; transition: height .4s cubic-bezier(0.420, 0.000, 1.000, 1.000), width .4s .3s cubic-bezier(0.420, 0.000, 1.000, 1.000), opacity .7s; /*height: 48vh;*/ /* wubbadubba */ }
html.big.is_safari #коробка .проект.mqv { width: 668px; transition: height .2s cubic-bezier(0.420, 0.000, 1.000, 1.000), width .2s cubic-bezier(0.420, 0.000, 1.000, 1.000), opacity .7s; /*height: 48vh;*/ /* wubbadubba */ }
html.big .проект:not(.текущий) { background-color: #726258; }
DEACTIVATED html.big .проект:not(.текущий) .фотография { opacity: 0; transition: opacity .3s !important; }
DEACTIVATED html.big .проект:not(.текущий) .цветной { opacity: 0; transition: 0; }
/* html.big .проект.текущий .название, html.big .проект.текущий .субтитр,*/
html.big .проект:not(.text_me_baby) .название, html.big .проект:not(.text_me_baby) .субтитр,
html.big .absolute_madman .проект.finish_him .название, html.big .absolute_madman .проект.finish_him .субтитр { opacity: 0; /* transition: .7s; */ transition: .7s; }

html:not(.big) #коробка .проект:not(.текущий):hover .название *,
html:not(.big) #коробка .проект:not(.текущий):hover .субтитр * { opacity: 1 !important; }

html.big .benjamin_bottom .проект .название, html.big .benjamin_bottom .проект .субтитр { transition: 1.5s; }

html.big .проект:not(.текущий) .название, html.big .проект:not(.текущий) .субтитр { /* transition: 5s cubic-bezier(0.250, 0.460, 0.450, 0.940); */ }
html.big #коробка { /* transform: scale(1.04); */ transition: .4s transform; }


html.big_half #коробка .текущий, html.big_half .absolute_madman { z-index: -20 !important; }

html.bigx #поезд { position: absolute; }

.absolute_madman { pointer-events: none; }

.old .mbb { display: none; }

html.big .absolute_madman .проект { height: 433px; }
/* html.big .страница.active ~ .benjamin_bottom */
html.big .benjamin_bottom { position: fixed; bottom: 0; left: 0; right: 0; height: 371px; height: 433px; z-index: -15; }
html.big .benjamin_bottom .проект, html.big .benjamin_bottom .проект .цветной, html.big .absolute_madman .проект, html.big .absolute_madman .проект .цветной { opacity:1; }
html.big .benjamin_bottom .проект .фотография { opacity: 0; }
html.big .benjamin_bottom .проект .цветной:after { content: " "; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: black; opacity: .5; transition: opacity .7s; }
html.big .benjamin_bottom .проект:not(.текущий) .цветной:after { opacity: 0; }
html.big .benjamin_bottom .проект, html.big .absolute_madman .проект { transform: none; left: 0; bottom: 0; top: 0; width: 100%; background: transparent; }
html.big .benjamin_bottom .проект { height: 100%; }
html.big .benjamin_bottom .проект.full .цветной, html.big .absolute_madman .проект.full .цветной { /* width: 100%; */ }
html.big .absolute_madman { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
html.big .absolute_madman .проект { position: absolute; top: calc(100vh - 371px); top: calc(100vh - 433px); left: 0; right: 0; will-change: top; }
html.big .hides_the_footer { position: absolute; top: 0; left: 0; right: 0; height: 100vh; background: white; z-index: -20; }
html.big .hides_the_header_background { position: fixed; top: 0; left: 0; right: 0; height: 100vh; background: white; z-index: -13; }
html.big_half .hides_the_header_background { z-index: -23; }
html.big .hides_the_footer_background { position: fixed; top: 0; left: 0; right: 0; height: 100vh; background: white; z-index: -16; }



.страница { position: absolute; left: 0; right: 0; top: 393px; transform: translateY(0px); display: none; transition: transform 2s, opacity 1s; margin-bottom: 460px; opacity: 0; margin-bottom: 545px; background: white; top: 46.0vh; margin-bottom: calc(66vh);/* xkcd */ margin-bottom: 0; }
.страница .mbb { height: 66vh; cursor: pointer; }
.страница.preactive { display: block; visibility: hidden; opacity: 1; }
.страница.active { transform: translateY(0); visibility: visible; }
html.big body { /* overflow: visible; overflow-x: hidden; */ overflow: hidden; }
html.big .цветной { opacity: 0; transition: 1s 3s; }
.страница { font-size: 1.0625rem; font-family: Simplo, sans-serif; color: #babab9; }
.страница .wrapper { width: calc(100vw - 2 * 20vw); width: 76px; margin: auto; padding-bottom: 140px; width: auto; padding-left: 20vw; padding-right: 20vw; background: white; color: black; }
.страница .wrapper.first { padding-top: 155px; padding-bottom: 200px; padding-top: 21vh; /* xcd */ }
.страница img { display: block; }
.страница .wrapper.standard { padding-top: 105px; padding-bottom: 105px; }
.страница .wrapper.темно { background: #AAA; }
.страница .wrapper.wrappermobile { padding-left: 12vw; padding-right: 12vw; padding-bottom: 140px; }
.страница .wrapper.wrapperhasvideo { padding-bottom: 140px; }
.страница .wrapper.wrapperhasvideo p { margin-bottom: 190px; margin-bottom: 10vh; /* xcd */ }
.страница .wrapper.оранжевый { background: #77746e; }
.страница .standardmb { margin-bottom: 80px; }
.страница .экран { height: 100vh; background-size: cover; background-position: center -50px; background-repeat: no-repeat; }
.страница .слева { float: left; }
.страница .справа { float: right; width: calc(74vw - 485px); width: auto; margin-left: 490px; margin-left: 36vw; float: none; padding-top: 2.72rem; position: relative; left: 4vw; margin-left: 29vw; }
.страница h2, .страница h3 { opacity: 0; transition: opacity 1.3s; }
.страница.active h2, .страница.active h3 { opacity: 1; }
.страница h2 { font-size: 5rem; font-family: GaramondPremPro; }
.страница h3 { font-family: Simplo, sans-serif; font-size: 1.1rem; }
/* .страница h3, .страница p { font-family: SimploLight !important; -webkit-font-smoothing: none; } */
.страница p { line-height: 1.5; font-family: Simplo, sans-serif; font-size: 1.1rem; }

/*.страница .wrapper { opacity: 0; transition: opacity 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940); }
.страница.active .wrapper { opacity: 1; }
.страница .wrapper > * { transform: translateY(45px); transition: transform 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940); }
.страница.active .wrapper > * { transform: translateY(0); }*/

/* todo quand on passe de projet à projet afficher le :before un peu plus tard */
.страница { /* top: 36vh; */ }
.страница:not(.old) { /* top: 36vh !important; */ visibility: visible !important; background: transparent; }
html:not(.big_half) .страница:not(.old) { z-index: 999; }
html .страница:not(.old).canshowbefore:before { content: " "; position: absolute; top: -56.0vh /* 46vh + height */ ; background: white; left: 0; right: 0; height: 10vh; opacity: 1 !important; background: white; } /* top: 46vh */
.страница:not(.old) { opacity: 1 !important; transform: translateY(10vh); transition: opacity 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940), transform .900s cubic-bezier(0.000, 0.000, 0.580, 1.000); }
html .страница:not(.old).active { opacity: 1 !important; transform: translateY(0); }

html .страница.mqv:not(.old).canshowbefore:before { top: -92.0vh; height: 30vh; }
.mqv.страница:not(.old) { transform: translateY(30vh); transition: opacity 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940), transform .600s cubic-bezier(0.000, 0.000, 0.580, 1.000); }


html.is_safari .страница.mqv:not(.old).canshowbefore:before { top: -82.0vh; height: 34vh; }
html.is_safari .mqv.страница:not(.old) { transform: translateY(30vh); transition: opacity 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940), transform .600s cubic-bezier(0.000, 0.000, 0.580, 1.000); }
html.is_safari .mqv.страница:not(.old).active { opacity: 1 !important; transform: translateY(0); }

/*
.mqv.wasbig.страница:not(.old) { transform: translateY(30vh); transition: opacity 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940), transform .200s cubic-bezier(0.000, 0.000, 0.580, 1.000); }
html .mqv.wasbig.страница:not(.old).active { opacity: 1 !important; transform: translateY(0); }*/

/*html .страница.страница-2:not(.old).canshowbefore.startcolor:before { background-color: #131313; }
html .страница.страница-3:not(.old).canshowbefore.startcolor:before { background-color: #7946fd; }
html .страница.страница-4:not(.old).canshowbefore.startcolor:before { background-color: #01060b; }
.hides_the_header_background, html .страница:before { transition: background-color .3s .8s; } /* auberge */
/* de projet à projet ne marche pas */


/* <o/ */
/* .whitebg, .wrapper.first, html .страница:not(.old).canshowbefore:before {  background: blue !important; } */
/* texte */
html .страница:not(.old).страница-3 .wrapper.first { opacity: 0; transition: none; }
html .страница:not(.old).страница-2 .wrapper.first { opacity: 0; transition: none; }
html .страница:not(.old):not(.страница-3):not(.страница-2) .wrapper.first > * { opacity: 0 !important; transition: 2s all; }
html .страница.active:not(.old):not(.страница-3):not(.страница-2) .wrapper.first > * { opacity: 1 !important; }

/* opacité du wrapper doit se faire de manière sèche */
/*.whitebg { background: blue !important; }*/
html .страница:not(.old) > * { opacity: 0 !important; }
html .страница:not(.old) > *:first-child { background: white; }
html .страница:not(.old).active > * { opacity: 1 !important; }

.страница .видео-container { position: relative; }
.страница .видео-container .click-catcher { cursor: pointer; }
.страница .видео-container video { position: absolute; top:0; left: 0; width: 100%; opacity: 0; pointer-events: none; transition: opacity 1s cubic-bezier(0.000, 0.000, 0.580, 1.000); cursor: pointer; }
.страница .видео-container video.active { pointer-events: auto; opacity: 1; }

html.loading .x_profile { opacity: 0; }
.x_profile { transition: opacity 2s; height: 18vh; position: fixed; top: 0px; left: 0; right:0; z-index: 70; user-select: none; }
/* html.big .x_profile { visibility: visible; opacity: 1; } */

.x { visibility: hidden; pointer-events: none; }
html.big .x, html.showmyprofile .x { visibility: visible; pointer-events: auto; }
html:not(.big) .x, html:not(.big) .profile { clip: auto !important; }

html.loading .x_profile { transition: none; }
.x_profile a { text-decoration: none; line-height: 1.7rem; vertical-align: middle; cursor: pointer; } /* 18vh */
.x_profile .light { color: white; }
.x_profile .dark { color: #babab9; }
/* html:not(.big).showmyprofile .x_profile .dark { color: #babab9; } */
html:not(.big) .x_profile .dark { color: black; }
.x_profile .x { position: absolute; left: 50%; transform: translateX(-50%); top: 0; font-size: 1.9rem; font-family: SimploLight, sans-serif; transition: opacity .5s cubic-bezier(0.190, 1.000, 0.220, 1.000); padding-top: 7vh; }
.x_profile a { position: relative; }
.x_profile a div { position: absolute; right: 0; top: 7vh; width: 100px; height: 1.5rem; overflow: hidden;  }
.x_profile .x:hover { opacity: .8; transition: none;}
.x_profile .profile { position: absolute; top: 0; right: 5.3vw; letter-spacing: 4px; font-family: SimploDemi, sans-serif; height: 1.7rem; font-size: 1rem; width: 200px; }
.profile:hover .слева { transform: translateY(-1.7rem); }
.profile:hover .справа { transform: translateY(-1.7rem); }

.dontlook { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999899; background: white; pointer-events: none; opacity: 0; transition: opacity .5s cubic-bezier(0.190, 1.000, 0.220, 1.000);}
/* .x_profile.dark:hover .profile.light { display: none; }
.x_profile.light:hover .profile.dark { display: none; } */
/* rect(6vh,200px,12vh,0) */

/* 100vh - (ORIG_HEIGHT * NEW_WIDTH / ORIG_WIDTH) */

/*
TITRE à gauche 80px garamond premiere pro
SOUS-TITRE à gauche 17px simplo light
RIGHT PARAGRAPHE simplo light 17px
*/


html.center_titles .название { transform: translateY(-50%) translateX(0px) !important; transition: opacity 0.7s, transform 1.2s cubic-bezier(0.150, 0.655, 0.000, 1.000); }
html.center_titles .субтитр { transform: translateX(0px) !important; transition: opacity 0.5s, transform 1.2s cubic-bezier(0.150, 0.655, 0.000, 1.000); }
html.center_titles .фотография, html.center_titles .цветной { /*background-position-x: calc(-0.5 * (1920px - (668px + (100vw / 0.92) - 100vw)));*/ transition: background-position 1.5s cubic-bezier(0.150, 0.655, 0.000, 1.000); }
html:not(.center_titles) .название, html:not(.center_titles) .субтитр { transition: transform 1s cubic-bezier(0.215, 0.610, 0.355, 1.000); }

/* ligne */
#линия { position: fixed; pointer-events: none; right: 0; top: 0; height: 3px; background: black; position: fixed; /* border-bottom-left-radius: 15px; */ /* transform: skewX(45deg); */ transition: transform .5s, opacity .3s; }
html.big #линия { width: 0% !important; transition: 0.30s cubic-bezier(0.420, 0.000, 1.000, 1.000) 1s !important; }
/* html.big .проект.текущий .фотография { background-attachment: fixed; backface-visibility: hidden;} */
html.loadingover:not(.cursormove) #линия { opacity: 0; }

/* cercle */
html.big #круг { pointer-events: none; opacity: 0; transition: /*opacity?*/ 0.65s cubic-bezier(0.420, 0.000, 1.000, 1.000) .3s; }
#круг { position: fixed; top: 0; left: 0; text-align: center; line-height: 70px; color: white; width: 70px; height: 70px; cursor: move; overflow: hidden; font-family: SimploDemi; letter-spacing: 1.5px; -webkit-user-select: none; z-index: 71;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  transform: translateX(60vw) translateY(48vh); transition: transform 2.4s cubic-bezier(0.075, 0.820, 0.165, 1.000); }


/*html.is_safari #круг { transition: none; }*/
/* html.loadingover #круг { top: 80vh; left: 90vw; } */

html.ffhash #круг, html.ffhash #линия { display: none !important; }
#круг * { -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }
#круг div { position: absolute; left: 6px; top: 1px; right: 6px; bottom: 0; user-select: none; overflow: hidden;}
#круг p { font-size: 12px; transition: transform 2s, font-family .5s; transform: translateX(-300%); }
#круг p span { top: 0; left: 0; position: absolute; width: 100%; height: 100%; }
#круг p span:nth-child(2) { left: 100%; }
#круг p span:nth-child(3) { left: 200%; }
#круг p span:nth-child(4) { left: 300%; }
#круг p span:nth-child(5) { left: 400%; }
#круг p span:nth-child(6) { left: 500%; }
#круг svg { transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(1.2); transform-origin: 50% 50%; position: absolute; top: 50%; left: 50%; transition: 0.3s ease; }
#круг.active svg { transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(1);}
#круг.active p { font-size: 10px; }
#круг circle { stroke-dasharray: 1,200; stroke-dashoffset: -10; stroke-linecap: round; stroke-dashoffset: 0; /* transition: 1s; */ stroke-dasharray: 258,200; stroke-dashoffset: 259; transition: fill 2s; }
/* #круг.css_animation circle { animation: dash 5s linear infinite; } */


@media (min-width: 1750px)
{
  #круг svg { transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(1.5); }
  #круг.active svg { transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(1.3); }
  #круг p { font-size: 16px; }
  #круг.active p { font-size: 13px; }
  #круг { width: 80px; height: 80px; line-height: 80px; }

  .loading-nahel, .loading-pc { font-size: 1.4rem; }
}


@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
  }
  100% {
    stroke-dasharray: 144,200;
  }
}




.wololo, .apply-scroll-here { width: 100%; height: 100vh; }




















@font-face {
    font-family: Simplo;
    src: url(../fonts/Simplo/Simplo-Regular.otf);
}

@font-face {
    font-family: SimploDemi;
    /* src: url(../fonts/Simplo/Simplo-Demi.otf); */
    src: url(../fonts/Simplo/Simplo-Demi.woff);
}

@font-face {
    font-family: SimploLight;
    /* src: url(../fonts/Simplo/Simplo-Demi.otf); */
    src: url(../fonts/Simplo/Simplo-Light.otf);
}


@font-face {
    font-family: GaramondPremPro;
    /* src: url(../fonts/Garamond-Premier-Pro/GaramondPremrPro-Disp.otf); */
    src: url(../fonts/GaramondPremierProDisplay/Garamond-Premier-Pro-Display.otf);
}


@font-face {
    font-family: GaramondPremProLight;
    /* src: url(../fonts/Garamond-Premier-Pro/GaramondPremrPro-Disp.otf); */
    src: url(../fonts/GaramondPremierProLight/GaramondPremierProLightDisplay.otf);
}


.play-pause-btn {
  cursor:pointer;
  width:100px;
  height:100px;
  fill: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 1px solid white;
  transition: opacity .5s;
  opacity: .7;
  padding: 17px;
}

/* html.videonotready .видео-container { pointer-events: none; } */
/* html.videonotready .видео-container .play-pause-btn { opacity: 0 !important; } */
html.videonotready .видео-container:after { content: " "; display: block; position: absolute; left: 1vw; bottom: 3vh; width: 7%; height: 7%; background: url("../img/loader.gif") no-repeat center center; background-size: contain; pointer-events: none; }

@media (max-width: 850px) {
  html .play-pause-btn {
    transform: translateY(-50%) translateX(-50%) scale(0.5);
  }
}

.видео-container:hover .play-pause-btn, .видео-container.active .play-pause-btn {
  opacity: 1;
}
.play-pause-btn svg {
  transform: scale(0.4);
  position: relative;
  left: 3px;
  top: 3px;
}
.play-pause-btn path {
  fill: white;
}
.страница-2 .play-pause-btn path {
  fill: #babab9;
}
.страница-2 .play-pause-btn {
  border: 1px solid #babab9;
}


/* peut faire pareil : z-index scroll content 30; z-index footer 29 pour le footer page projet */
.showmyprofile .scroll-content { z-index: 30; position: relative; }
.showmyprofile .black > div { z-index: 29; background: #212121; }


html.big .scroll-content { z-index: 30; position: relative; }
html.big .benjamin_bottom { z-index: 29; }
html.big .absolute_madman { z-index: 29; }
/* html.big .страница.active { margin-bottom: 77vh; } */
html.big:not(.big_half) #коробка .проект.текущий { z-index: 30 !important; }

html .hide_me_please > * { opacity: 0 !important; transition: none !important; }
